.wrapper {
  display: flex;
  padding: 10px 24px;
  .inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .left {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      .content {
        display: flex;
        gap: 20px;
        flex-direction: row;
        cursor: pointer;
        .details {
          display: flex;
          gap: 5px;
          justify-content: center;
          align-items: center;
        }
        p {
          font-size: 12px;
          font-weight: 500;
          color: #fff;
        }
      }
    }
    .right {
      display: flex;
      gap: 40px;
    }
  }
}
