.bg-default-100 {
  background-color: transparent !important;
}

.shadow-sm {
  --tw-shadow: 0 !important;
}
@media screen and (max-width: 768px) {
  .register-container {
    border-radius: 0px;
    height: 600px;
  }

  .register-container h1 {
    margin-top: 20px;
  }

  .register-container-div-child-one {
    margin-top: 24px;
  }

  .register-container-div-child-two {
    margin-top: 24px;
  }
  .register-container-div-child-three {
    margin-top: 24px;
  }

  .register-container-button-child-one {
    margin-top: 24px;
  }

}

@media screen and (max-width: 576px) {
  .register-container {
    border-radius: 0px;
    height: 650px;
  }

  .register-container h1 {
    margin-top: 20px;
  }

  .register-container-div-child-one {
    margin-top: 24px;
  }

  .register-container-div-child-two {
    margin-top: 24px;
  }
  .register-container-div-child-three {
    margin-top: 24px;
  }
  

  .register-container-button-child-one {
    margin-top: 24px;
  }

}